<!DOCTYPE html>
<html>
    <head>
        <title>mobaiz app</title>
        <link rel="stylesheet" href="C:\Users\Abu Muhamad\Documents\mobaiz\css\style.css" type="text/css">
        <script src="https://kit.fontawesome.com/a4e6de9bfe.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
           <nav>
            <a href="" class="logo"><img src="C:\Users\Abu Muhamad\Documents\mobaiz\image\logo.png"></a>

            <div class="wrap">
                <div class="search">
                   <input type="text" class="searchTerm" placeholder="search for available mobile phone">
                   <button type="submit" class="searchButton">
                     <i class="fa fa-search"></i>
                  </button>
                </div>
             </div>
           </nav>
           <h1>Login <button class="account" type="button">Create an account</button></h1>
        </header>

        <div class="banner">
            <div class="banner_text">
                <p class="special">Weekend Specials<br> $1000</p>
            </div>
            <div class="banner_text"><img class="banner_image" src="C:\Users\Abu Muhamad\Documents\mobaiz\image\banner.png"></div>
        </div>

        <div class="top_selling">
            <p class="top_items">Top selling items</p>
        </div>

        <div class="body">
            <div class="product"><img class="phone" src="C:\Users\Abu Muhamad\Documents\mobaiz\image\item2.png">
                <p class="item_name">Samsung Galaxy S6</p>
                <p class="item_name"><strong>$500</strong> <button class="in_stock">IN STOCK</button></p>
            </div>

            <div class="product"><img class="phone" src="C:\Users\Abu Muhamad\Documents\mobaiz\image\item2.png">
                <p class="item_name">Samsung Galaxy S6</p>
                <p class="item_name"><strong>$500</strong> <button class="in_stock">IN STOCK</button></p>
            </div>

            <div class="product"><img class="phone" src="C:\Users\Abu Muhamad\Documents\mobaiz\image\item2.png">
                <p class="item_name">Samsung Galaxy S6</p>
                <p class="item_name"><strong>$500</strong> <button class="in_stock">IN STOCK</button></p>
            </div>

            <div class="product"><img class="phone" src="C:\Users\Abu Muhamad\Documents\mobaiz\image\item2.png">
                <p class="item_name">Samsung Galaxy S6</p>
                <p class="item_name"><strong>$500</strong> <button class="in_stock">IN STOCK</button></p>
            </div>
            
            <div class="product"><img class="phone" src="C:\Users\Abu Muhamad\Documents\mobaiz\image\item2.png">
                <p class="item_name">Samsung Galaxy S6</p>
                <p class="item_name"><strong>$500</strong> <button class="in_stock">IN STOCK</button></p>
            </div>
            
            <div class="product"><img class="phone" src="C:\Users\Abu Muhamad\Documents\mobaiz\image\item2.png">
                <p class="item_name">Samsung Galaxy S6</p>
                <p class="item_name"><strong>$500</strong> <button class="in_stock">IN STOCK</button></p>
            </div>
            
            <div class="product"><img class="phone" src="C:\Users\Abu Muhamad\Documents\mobaiz\image\item2.png">
                <p class="item_name">Samsung Galaxy S6</p>
                <p class="item_name"><strong>$500</strong> <button class="in_stock">IN STOCK</button></p>
            </div>
            
            <div class="product"><img class="phone" src="C:\Users\Abu Muhamad\Documents\mobaiz\image\item2.png">
                <p class="item_name">Samsung Galaxy S6</p>
                <p class="item_name"><strong>$500</strong> <button class="in_stock">IN STOCK</button></p>
            </div>
        </div>

        <div class="footer">
            <div class="footer_inside"><button class="logo_button"><img class="footer_logo" src="C:\Users\Abu Muhamad\Documents\mobaiz\image\logo.png"></button></div>
            <div class="footer_inside"></div>
        </div>
     </body>
</html>
